/*  your css code here. If applicable */
.main{
	background-color:grey;
	width :30%;
	height:50px;
	border-radius:5px;
	border:2px solid black;
	align-self:center;
	justify-self:center;
	display:flex;
	justify-items:center;
	justify-content:center;
	align-items:center;
	gap:2px;
}
.circle{
	height:50%;
	width:20%;
	justify-content:center;
	align-content:center;
	border-radius:50%;
}
.red{
	background-color:red;
}
.green{
	background-color:green;
}
.yellow{
	background-color:yellow;
}